@{
    ViewData["Title"] = "Авторизация";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="container">
    <h2>Авторизация</h2>

    <form asp-action="Login" method="post">
        <div>
            <label>Email:</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>Код входа:</label>
            <input type="text" name="otp" required />
        </div>
        <button type="submit">Войти</button>
    </form>
</div>
